<template>
  <div class="justify-content-between row">
      <div id="test" class="col">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Izaberi elemenat</label>
                <select class="form-control" v-model="itemType" id="exampleFormControlSelect1">
                    <option value="" selected disabled>Elemenat</option>
                    <option value="custom">Custom link</option>
                    <option value="category">Category</option>
                    <option value="page">Page</option>
                </select>
            </div>
            <div :class="messagesClass" v-if="messages">
                <ul>
                    <li v-for="message in messages" v-bind:key="message[0].id">{{ message[0] }}</li>
                </ul>
            </div>
            <div class="elements-box">
                <div v-if="itemType == 'custom'">
                    <div class="card">
                        <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label for="exampleFormControlInput1">Title</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" v-model="name" class="form-control" id="name" placeholder="Menu title">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label for="status">Parent ID</label>
                                    </div>
                                    <div class="col-5">
                                        <select class="form-control" v-model="parent_id" id="status" name="parent_id">
                                            <option value="0" :selected="parent_id == 0" :disabled="parent_id == 0">Root</option>
                                            <option v-for="item in menu_items" :value="item.id" v-bind:key="item.id" :selected="parent_id == item.id">{{ item.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label for="url">URL</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" v-model="url" class="form-control" id="url" placeholder="URL">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label for="status">Status</label>
                                    </div>
                                    <div class="col-5">
                                        <select class="form-control" v-model="status" id="status" name="status">
                                            <option value="1" :selected="status == 1">Enabled</option>
                                            <option value="0" :selected="status == 0">Disabled</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="desc">Desc</label>
                                    <textarea class="form-control" v-model="desc" id="desc" rows="3"></textarea>
                                </div>
                                <button @click="createCustomItem" class="btn btn-outline-success">Kreiraj</button>
                        </div>
                    </div>
                </div>
                <div v-if="itemType == 'category'">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-3">
                                    <label for="exampleFormControlInput1">Title</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" v-model="name" class="form-control" id="name" placeholder="Menu item name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-3">
                                    <label for="status">Parent ID</label>
                                </div>
                                <div class="col-5">
                                    <select class="form-control" v-model="parent_id" id="status" name="status">
                                        <option value="0" selected disabled>Root</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-3">
                                    <label for="design_type">Design Type</label>
                                </div>
                                <div class="col-5">
                                    <select class="form-control" v-model="design_type" id="design_type" name="design_type">
                                        <option value="full-width">Full width</option>
                                        <option value="dropdown">Simple dropdown</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-3">
                                    <label for="status">Status</label>
                                </div>
                                <div class="col-5">
                                    <select class="form-control" v-model="status" id="status" name="status">
                                        <option value="" selected disabled>Status elementa</option>
                                        <option value="1">Enabled</option>
                                        <option value="0">Disabled</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="desc">Desc</label>
                                <textarea class="form-control" v-model="desc" id="desc" rows="3"></textarea>
                            </div>

                            <button @click="createCategoryItem" class="btn btn-outline-success">Kreiraj</button>
                        </div>
                    </div>
                </div>
                <div v-if="itemType == 'page'">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-5">
                                    <label for="status">Izaberi stranu</label>
                                </div>
                                <div class="col-5">
                                    <select class="form-control" v-model="page_identifier" id="pages">
                                        <option value="" selected disabled>Page</option>
                                        <option v-for="pages in allPages" :value="pages.identifier" :key="pages.id">{{ pages.name }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-5">
                                    <label for="status">Parent ID</label>
                                </div>
                                <div class="col-5">
                                    <select class="form-control" v-model="parent_id" id="status" name="parent_id">
                                        <option value="0" :selected="parent_id == 0" :disabled="parent_id == 0">Root</option>
                                        <option v-for="item in menu_items" :value="item.id" v-bind:key="item.id" :selected="parent_id == item.id">{{ item.name }}</option>
                                    </select>
                                </div>
                            </div>

                            <!-- <div class="form-group row">
                                <div class="col-5">
                                    <label for="url">URL</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" v-model="url" class="form-control" id="url" placeholder="URL">
                                </div>
                            </div> -->

                            <div class="form-group row">
                                <div class="col-5">
                                    <label for="status">Status</label>
                                </div>
                                <div class="col-5">
                                    <select class="form-control" v-model="status" id="status" name="status">
                                        <option value="1" :selected="status == 1">Enabled</option>
                                        <option value="0" :selected="status == 0">Disabled</option>
                                    </select>
                                </div>
                            </div>
                            <button @click="createPageItem" class="btn btn-outline-success">Kreiraj</button>
                        </div>
                    </div>
                </div>
            </div>
      </div>

  </div>
</template>

<script>

export default {
  name: "test",
  display: "tesst",
  order: 16,
  data () {
      return {
        messagesClass: '',
        messages: [],
        itemType: '',
        design_type: 'full-width',
        parent_id: 0,
        name: '',
        url: '',
        status: 0,
        desc: '',
        allPages: [],
        page_identifier: ''
      }
  },
  created (){
  },
  props: [
      'menu_id', 'menu_items'
  ],
  components: {
  },
  computed: {
    elements: {
      get() {
      },
      set(value) {
      }
    }
  },
  methods: {
      createCustomItem () {
        this.$http({
            url: this.$store.state.base_url + "admin/content/menu/"+this.menu_id+"/items/create", method: 'post', dataType: 'json',
            data: {
                type: this.itemType,
                menu_id: this.menu_id,
                parent_id: this.parent_id,
                name: this.name,
                url: this.url,
                status: this.status,
                desc: this.desc
            }
        }).then(response => {
            console.log(response.data );
            console.log(response.status);
            console.log('test ', this.itemType, this.name, this.url, this.status, this.desc)
              window.location.href = '/admin/content/menu/1/items/'
        }).catch(error => {
            console.log(error.response.data);
            this.messagesClass = 'alert alert-danger';
            this.messages = error.response.data.errors;
        });
      },
      createCategoryItem () {
        this.$http({
            url: this.$store.state.base_url + "admin/content/menu/"+this.menu_id+"/items/create", method: 'post', dataType: 'json',
            data: {
                type: this.itemType,
                design_type: this.design_type,
                menu_id: this.menu_id,
                parent_id: this.parent_id,
                name: this.name,
                url: this.url,
                status: this.status,
                desc: this.desc
            }
        }).then(response => {
            console.log(response.data );
            console.log(response.status);
            console.log('test ', this.itemType, this.name, this.url, this.status, this.desc)
            window.location.href = '/admin/content/menu/1/items/'
        }).catch(error => {
            console.log(error.response.data);
            this.messagesClass = 'alert alert-danger';
            this.messages = error.response.data.errors;
        });
      },
      createPageItem() {
          if (this.page_identifier === '') return true;
          console.log(this.page_identifier);
        this.$http({
            url: this.$store.state.base_url + "admin/content/menu/"+this.menu_id+"/items/createPageItems", method: 'post', dataType: 'json',
            data: {
                menu_id: this.menu_id,
                type: this.itemType,
                identifier: this.page_identifier,
                parent_id: this.parent_id,
                status: this.status
            }
        }).then(response => {
            console.log(response.data );
            console.log(response.status);
            console.log('test ', this.itemType, this.page_identifier, this.url, this.status, this.parent_id)
            // window.location.href = '/admin/content/menu/1/items/'
        }).catch(error => {
            console.log(error.response.data);
            this.messagesClass = 'alert alert-danger';
            this.messages = error.response.data.errors;
        });
      },
      loadAllPages () {
          let self = this;
        this.$http({
            url: this.$store.state.base_url + "api/get/allPages", method: 'get', dataType: 'json',
        }).then(response => {
            console.log(response.data );
            self.allPages = response.data;
        }).catch(error => {
            console.log(error.response.data);
            this.messagesClass = 'alert alert-danger';
            this.messages = error.response.data.errors;
        });
      }
  },
  watch: {
      itemType (val) {
        //   console.log('New value is ', val)
          this.messages = [];
          this.messagesClass = '';
          if (val === 'category') {
              console.log('New value is ', val)
          }
          if (val === 'page') {
              this.loadAllPages();
          }
      },
  }
}
</script>
