<template>
  <div class="container-fluid">
    <!-- <button v-if="editStatus" @click.prevent="showHide">Hide</button>
    <button v-if="!editStatus" @click.prevent="showHide">Show</button> -->
    <textarea :name="name" class="form-control" :id="editStatus ? 'edit-content' : 'edit-content-none'" :cols="cols" :rows="rows" v-model="data.content ? data.content : data.desc">
    </textarea>
  </div>
</template>

<script>
  import Trumbowyg from 'trumbowyg';

  export default {
    data () {
      return {
          editStatus: true,
          clickme: $('.clickme')
      }
    },
    props: {
        data: {
            type: Object/Array,
            default: ''
        },
        name: {
            type: String,
            default: 'content'
        },
        content: {
            type: String,
            default: ''
        },
        cols: {
            type: Number,
            default: 30
        },
        rows: {
            type: Number,
            default: 30
        },
    },
    components: {
      Trumbowyg
    },
    created () {
    },
    mounted () {
        /* Add imagur parameters to upload plugin */
        var uploadOptions = {
            // serverPath: 'https://api.imgur.com/3/image',
            serverPath: '/upload-image',
            fileFieldName: 'image',
            token: this.$store.state.crsf_field,
            headers: {
                'Authorization': 'Client-ID 123456789',
                'X-CSRF-TOKEN': this.$store.state.crsf_field
            },
            urlPropertyName: 'data.link',
            // success: function (data, trumbowyg, $modal, values) {
            //     // console.log(data,trumbowyg, $modal, values)
            //     // return true
            // },
            // error: function () {},
            imageWidthModalEdit: true
        };
        $('#edit-content').trumbowyg({
            imageWidthModalEdit: true,
            tagsToKeep: ['i', 'script[src]'],
            semantic: {
                'div': 'div',
                'p': 'p'
            },
            btnsDef: {
                // Create a new dropdown
                image: {
                    dropdown: ['insertImage', 'upload'],
                    ico: 'insertImage'
                },
                insertSection: {
                    // dropdown: ['insertSection'],
                    ico: 'justifyFull'
                }
            },
            // Redefine the button pane
            btns: [
                ['viewHTML'],
                ['undo', 'redo'], // Only supported in Blink browsers
                ['formatting'],
                ['foreColor', 'backColor'],
                ['strong', 'em', 'del'],
                ['superscript', 'subscript'],
                ['link'],
                ['insertImage','upload'],
                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                ['horizontalRule'],
                ['removeformat'],
                ['fullscreen'],
                ['insertSection']
            ],
            plugins: {
                // Add imagur parameters to upload plugin for demo purposes
                upload: uploadOptions,
            }
        });
    },
    methods: {
        showHide() {
            $('#edit-content').trumbowyg('toggle', function () {
                this.editStatus = this.editStatus;
                console.log('etestdgdf');
            });
        },
        editActive () {
        },
        clickMe (e) {
            alert('test');
            e.preventDefault();

        }
    },
    watch: {
        data (val) {
        }
    }
  }
</script>
