<template>
  <div>
    <trumbowyg v-model="content" :config="config" class="form-control" name="content"></trumbowyg>
  </div>
</template>

<script>
  // Import this component
  import Trumbowyg from 'trumbowyg';

  // Import editor css
  import 'trumbowyg/dist/ui/trumbowyg.css';

// require('./../../../node_modules/trumbowyg/plugins/upload/trumbowyg.upload');
  export default {
    data () {
      return {
        content: '',
        config: {
            imageWidthModalEdit: true,
            tagsToKeep: ['i', 'script[src]', '{{', '}}'],
            semantic: {
                'div': 'div',
                'p': 'p'
            },
            btnsDef: {
                // Create a new dropdown
                image: {
                    dropdown: ['insertImage', 'upload'],
                    ico: 'insertImage'
                }
            },
            // Redefine the button pane
            btns: [
                ['viewHTML'],
                ['undo', 'redo'], // Only supported in Blink browsers
                ['formatting'],
                ['strong', 'em', 'del'],
                ['superscript', 'subscript'],
                ['foreColor', 'backColor'],
                ['link'],
                ['insertImage'],
                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                ['horizontalRule'],
                ['removeformat'],
                ['fullscreen']
            ],
            plugins: {
                // Add imagur parameters to upload plugin for demo purposes
                upload: {
                    serverPath: 'https://api.imgur.com/3/image',
                    fileFieldName: 'image',
                    headers: {
                        'Authorization': 'Client-ID xxxxxxxxxxxx'
                    },
                    urlPropertyName: 'data.link'
                }
            }
        }
      }
    },
    components: {
      Trumbowyg
    },
    mounted () {
        // $.trumbowyg.svgPath = '../../../../public/assets/icons/icons.svg';
        // $('#edit-content').trumbowyg({
        //     imageWidthModalEdit: true,
        //     tagsToKeep: ['i', 'script[src]', '{{', '}}'],
        //     semantic: {
        //         'div': 'div',
        //         'p': 'p'
        //     },
        //     btnsDef: {
        //         // Create a new dropdown
        //         image: {
        //             dropdown: ['insertImage', 'upload'],
        //             ico: 'insertImage'
        //         }
        //     },
        //     // Redefine the button pane
        //     btns: [
        //         ['viewHTML'],
        //         ['undo', 'redo'], // Only supported in Blink browsers
        //         ['formatting'],
        //         ['strong', 'em', 'del'],
        //         ['superscript', 'subscript'],
        //         ['link'],
        //         ['insertImage'],
        //         ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
        //         ['unorderedList', 'orderedList'],
        //         ['horizontalRule'],
        //         ['removeformat'],
        //         ['fullscreen']
        //     ],
        //     plugins: {
        //         // Add imagur parameters to upload plugin for demo purposes
        //         upload: {
        //             serverPath: 'https://api.imgur.com/3/image',
        //             fileFieldName: 'image',
        //             headers: {
        //                 'Authorization': 'Client-ID xxxxxxxxxxxx'
        //             },
        //             urlPropertyName: 'data.link'
        //         }
        //     }
        // })
    }
  }
</script>
