<template>
    <div class="ps-subscribe">
        <div class="ps-container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
                    <h3><i class="fa fa-envelope"></i>Prijavite se na email</h3>
                </div>
                <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12 ">
                    <form class="ps-subscribe__form" @submit.prevent="hello">
                        <input class="form-control" type="text" placeholder="">
                        <button v-on:click.prevent.native="hello()">Prijavi se</button>
                    </form>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
                    <p>...i dobijte najnovije <span> vesti</span>  o akcijama.</p>
                </div>
                {{  test }}
            </div>
        </div>
    </div>
</template>

<script>

export default {
  data () {
      return {
          test: ''
      }
  },
  created (){
  },
  props: {
  },
  components: {
  },
  computed: {
    elements: {
      get() {
      },
      set(value) {
      }
    }
  },
  methods: {
      hello () {
          console.log('Say hello');
      },
  },
  watch: {
  }
}
</script>
