.ps-section {
    &__title {
        width: 100%;
        &:before {
            font-size: 70px;
            line-height: 1em;
            color: #f4f4f4;
            letter-spacing: .08em;
        }
    }
}
