#pp-accordion {
    min-width: auto;
    // border-top: 1px solid #d0d0d0;
    // border-left: 1px solid #d0d0d0;
    // border-right: 1px solid #d0d0d0;
    .pp-accordion__item {
        position: relative;
        &.current {
            a {
                &.pp-main__item {
                    background-color: $patrol-plava;
                    color: #fff;
                }
            }
            .pp-accordion__show {
                svg {
                    color: #fff;
                }
                &:hover {
                }
            }
        }
        a {
            padding: 5px 10px;
            display: block;
            color: #000;
            font-size: 14px;
            font-weight: 700;
            &:hover {
                background-color: $patrol-plava;
                color: #fff;
            }
            &.pp-main__item {
                // background: #eee;
                // border-bottom: 1px solid #d0d0d0;
                &:hover {
                    background-color: $patrol-plava;
                }
            }
        }
        .pp-accordion__show {
            position: absolute;
            right: 0;
            top: 0;
            padding: 6px 9px;
            svg {
                margin-top: 0px;
                color: $patrol-plava;
            }
            &:hover {
                background: #e3e3e3;
            }
        }
        .pp-submenu {
            .pp-submenu__item {
                a {
                    padding: 5px 10px 5px 30px;
                    font-weight: 500;
                }
                &.current {
                    a {
                        background-color: $patrol-plava;
                        color: #fff;
                    }
                }
            }
        }
    }
}
