.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
    min-height: 300px;
    height: 100%;
    position: relative;
}

img.carousel-item-image {
    position: absolute;
    display: block !important;
    width: 100%;
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
