<template>
<div>
    <ul class="pp-accordian__ul" id="pp-accordion">
        <li v-for="rootCat in filteredCategories" :key="rootCat.data.id" :class="identifier === rootCat.data.identifier ? 'pp-accordion__item current' : 'pp-accordion__item'">
            <a class="pp-main__item" v-if="rootCat.data.status !== 0" :href="'/katalog/' + rootCat.data.identifier">{{ rootCat.data.name }}</a>
            <span class="pp-accordion__show" v-if="rootCat.children" @click="showHideSubmenu(rootCat)">
                <span v-if="!rootCat.show"><font-awesome-icon :icon="['fas', 'angle-down']" size="2x" /></span>
                <span v-if="rootCat.show"><font-awesome-icon :icon="['fas', 'angle-up']" size="2x" /></span>
            </span>
            <transition name="fade">
                <ul class="pp-submenu mega-item pl-0" v-if="rootCat.children && (checkChildenShow(rootCat) || rootCat.show)">
                    <li :class="identifier === subCat.identifier ? 'pp-submenu__item current' : 'pp-submenu__item'" v-for="subCat in rootCat.children" :key="subCat.id">
                        <a :href="'/katalog/' + subCat.identifier">
                            {{ subCat.name }}
                        </a>
                    </li>
                </ul>
            </transition>
        </li>
    </ul>
    <div class="accordion md-accordion accordion-blocks d-none" id="testAccordion1" role="tablist" aria-multiselectable="true">
        <ul>
        <!-- Accordion card -->
        <li v-for="rootCat in filteredCategories" :key="rootCat.data.id">
            <!-- Card header -->
            <div class="" role="tab" :id="'heading' + rootCat.data.id">
                <!-- Heading -->
                <a data-toggle="collapse" data-parent="#testAccordion1" :href="'#collapse' + rootCat.data.id" :id="'#collapse' + rootCat.data.id" aria-expanded="true" :aria-controls="'collapse' + rootCat.data.id">
                    <h5 class="mt-1 mb-0">
                        <span>Folder 3</span>
                        <font-awesome-icon :icon="['fas', 'angle-down']" size="1x" />
                    </h5>
                </a>
            </div>

            <!-- Card body -->
            <div :id="'collapse' + rootCat.data.id" class="collapse" role="tabpanel" aria-labelledby="heading" data-parent="#testAccordion1">
                <div class="card-body">
                    <h6>test 3</h6>
                </div>
            </div>
        </li>
        <!-- Accordion card -->
        </ul>
    </div>
</div>
</template>

<script>
import { faChessQueen } from '@fortawesome/free-solid-svg-icons'
export default {
    name: 'pp-menu-accordion',
    data () {
        return {
            filteredCategories: [],
            isOpen: false
        }
    },
    props: {
        identifier: {
            type: String
        },
    },
    computed: {
        accordionClasses: function() {
          return {
            'is-closed': !this.isOpen,
            'is-primary': this.isOpen,
            'is-dark': !this.isOpen
          };
        }
     },
    beforeMount () {
        this.getFilteredCategory();
    },
    mounted () {
        console.log('current identifier', this.identifier);
    },
    methods: {
        getFilteredCategory () {
            return new Promise((resolve, reject) => {
                this.$http({
                    url: this.$store.state.base_url + "category/getFilteredCategory", method: 'post', dataType: 'json',
                    data: {
                        token: this.$store.state.crsf_field,
                        headers: {
                            'Authorization': 'Client-ID 123456789',
                            'X-CSRF-TOKEN': this.$store.state.crsf_field
                        }
                    }
                }).then(response => {
                    // resolve(response);
                    let data = response.data.filteredCategories;
                    this.filteredCategories = data;
                }).catch(error => {
                    // reject(error);
                });
            });
        },
        toggleAccordion: function() {
          this.isOpen = !this.isOpen;
        },
        checkChildenShow (data) {
            let show = false;
            if (data.children) {
                data.children.map((item) => {
                    if (item.identifier === this.identifier) {
                        console.log(item.identifier === this.identifier);
                        show = true;
                    }
                });
            }
            if (this.identifier === data.data.identifier) {
                data.show = true;
                show = true;
            }
            return show;
        },
        showHideSubmenu (rootCat) {
            // console.log(rootCat, rootCat.data.id, this.filteredCategories[rootCat.data.id]);
            console.log(this.filteredCategories['key' + rootCat.data.id].show, !this.filteredCategories['key' + rootCat.data.id].show);
            this.filteredCategories['key' + rootCat.data.id].show = !this.filteredCategories['key' + rootCat.data.id].show;
        },
        checkShow (id) {
            console.log(id, document.getElementById(id).getAttribute('aria-expanded'));
        }
    },
    watch: {
        testVal (val) {
            console.log('testVal', val);
        },
        filteredCategories: {
            handler: function(val) { console.log('filteredCategories', val) },
            deep: true
        }
    }
}
</script>

  <style>
    .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    }
  </style>
