<template>
  <div class="justify-content-left">
      <pp-menu-accordion :identifier="identifier"/>
  </div>
</template>

<script>
import PPMenuAccordion from "./PPMenuAccordion.vue";

export default {
    name: 'sidebar',
    props: [
        'route'
    ],
    components: {
      'pp-menu-accordion': PPMenuAccordion
    },
    data () {
        return {
            identifier: ''
        }
    },
    beforeMount () {
    },
    mounted () {
        this.identifier = this.route
    },
    methods: {},
    watch: {}
}
</script>
