<template>
  <div class="justify-content-left pp-slider">
      <div class="pp-product-slider">
        <!-- <pp-product-slider/> -->
      </div>
      <div>
          <!-- <pp-vue-slick-carousel/> -->
      </div>
      <div>
          <pp-vue-concise-slider/>
      </div>
  </div>
</template>

<script>
export default {
    name: 'pp-slider',
    props: [
    ],
    components: {
    },
    data () {
        return {
        }
    },
    beforeMount () {
    },
    mounted () {
    },
    methods: {},
    watch: {}
}
</script>
<style>
    .pp-product-slider {
    }
</style>
