<template>
  <div class="pp-vue-slick-carousel">
    <VueSlickCarousel v-bind="settings">
      <div>
          <img src="https://via.placeholder.com/50/0000FF/808080?Text=Digital.com" alt="">
          <p>1ryrdesyhdfhdgfhgxfh xgdh g hnxgfh xgfh xghj</p>
      </div>
      <div>
          <img src="https://via.placeholder.com/50/0000FF/808080?Text=Digital.com" alt="">
          <p>1ryrdesyhdfhdgfhgxfh xgdh g hnxgfh xgfh xghj</p>
      </div>
      <div>
          <img src="https://via.placeholder.com/50/0000FF/808080?Text=Digital.com" alt="">
          <p>1ryrdesyhdfhdgfhgxfh xgdh g hnxgfh xgfh xghj</p>
      </div>
      <div>
          <img src="https://via.placeholder.com/50/0000FF/808080?Text=Digital.com" alt="">
          <p>1ryrdesyhdfhdgfhgxfh xgdh g hnxgfh xgfh xghj</p>
      </div>
      <div>
          <img src="https://via.placeholder.com/50/0000FF/808080?Text=Digital.com" alt="">
          <p>1ryrdesyhdfhdgfhgxfh xgdh g hnxgfh xgfh xghj</p>
      </div>
      <div>
          <img src="https://via.placeholder.com/50/0000FF/808080?Text=Digital.com" alt="">
          <p>1ryrdesyhdfhdgfhgxfh xgdh g hnxgfh xgfh xghj</p>
      </div>
      <div>
          <img src="https://via.placeholder.com/50/0000FF/808080?Text=Digital.com" alt="">
          <p>1ryrdesyhdfhdgfhgxfh xgdh g hnxgfh xgfh xghj</p>
      </div>
      <div>
          <img src="https://via.placeholder.com/50/0000FF/808080?Text=Digital.com" alt="">
          <p>1ryrdesyhdfhdgfhgxfh xgdh g hnxgfh xgfh xghj</p>
      </div>
    </VueSlickCarousel>
  </div>
</template>

<script>
  import VueSlickCarousel from 'vue-slick-carousel'
  // optional style for arrows & dots
  import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

  export default {
    name: 'pp-vue-slick-carousel',
    components: { VueSlickCarousel },
    data () {
        return {
            settings:{
  "dots": true,
  "infinite": false,
  "speed": 500,
  "slidesToShow": 4,
  "slidesToScroll": 2,
  "initialSlide": 0,
  "responsive": [
    {
      "breakpoint": 1024,
      "settings": {
        "slidesToShow": 3,
        "slidesToScroll": 3,
        "infinite": true,
        "dots": true
      }
    },
    {
      "breakpoint": 600,
      "settings": {
        "slidesToShow": 2,
        "slidesToScroll": 2,
        "initialSlide": 2
      }
    },
    {
      "breakpoint": 480,
      "settings": {
        "slidesToShow": 1,
        "slidesToScroll": 1
      }
    }
  ]
}
        }
    }
  }
</script>
<style>
    .pp-vue-slick-carousel {
        height: 170px;
    }
</style>
