<template>
<!-- Make a div wrapped slider,set height and width -->
 <div style="width:100%;margin:20px auto;height:400px">
      <!-- Using the slider component -->
      <slider ref="slider" :options="options">
          <!-- slideritem wrapped package with the components you need -->
          <slideritem v-for="(item,index) in someList" :key="index" :style="item.style">{{item.html}}</slideritem>
          <!-- Customizable loading -->
          <div slot="loading">loading...</div>
      </slider>
 </div>
</template>
<script>
// import slider components
import { slider, slideritem } from 'vue-concise-slider'
export default {
    name: 'pp-vue-concise-slider',
   data () {
      return {
        //data list [array]
        someList:[
          {
            html: 'slide1',
            style: {
              'background': '#1bbc9b',
                'width': '23.5%',
                'margin-right': '2%'
            }
          },
          {
            html: 'slide2',
            style: {
              'background': '#4bbfc3',
                'width': '23.5%',
                'margin-right': '2%'
            }
          },
          {
            html: 'slide3',
            style: {
              'background': '#7baabe',
                'width': '23.5%',
                'margin-right': '2%'
            }
          },
        {
            html: 'slide4',
            style: {
              'background': '#1bbc9b',
                'width': '23.5%',
                'margin-right': '2%'
            }
          },
          {
            html: 'slide5',
            style: {
              'background': '#4bbfc3',
                'width': '23.5%',
                'margin-right': '2%'
            }
          },
          {
            html: 'slide6',
            style: {
              'background': '#7baabe',
                'width': '23.5%',
                'margin-right': '2%'
            }
          },
                    {
            html: 'slide7',
            style: {
              'background': '#4bbfc3',
                'width': '23.5%',
                'margin-right': '2%'
            }
          },
          {
            html: 'slide8',
            style: {
              'background': '#7baabe',
                'width': '23.5%',
                'margin-right': '2%'
            }
          }

        ],
        //Slider configuration [obj]
        options: {
          currentPage: 0,
            thresholdDistance: 100,
            thresholdTime: 100,
            autoplay: 3000,
            infinite: 4,
            slidesToScroll: 4,
            loop: true,
            pagination: false,
            grabCursor: true
        }
      }
    },
    components: {
      slider,
      slideritem
    }
}
</script>
