<template>
  <div>
    <!-- <vueper-slides>
    <vueper-slide v-for="(slide, i) in slides" :key="i" :title="slide.title" :content="slide.content" />
    </vueper-slides> -->
    <vueper-slides
        class="no-shadow"
        :visible-slides="3"
        slide-multiple
        :gap="3"
        :slide-ratio="1 / 4"
        :dragging-distance="200"
        :breakpoints="{ 800: { visibleSlides: 2, slideMultiple: 2 } }">
        <vueper-slide v-for="i in 10" :key="i" :title="i.toString()" />
    </vueper-slides>
  </div>
</template>

<script>
import { VueperSlides, VueperSlide } from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'

  export default {
    name: 'VueperSlides',
    components: { VueperSlides, VueperSlide },
    data () {
        return {
            slides: [
                {
                    title: 'Slide #1',
                    content: 'Slide content.'
                },
                {
                    title: 'Slide #2',
                    content: 'Slide content.'
                },
                {
                    title: 'Slide #3',
                    content: 'Slide content.'
                },
                {
                    title: 'Slide #4',
                    content: 'Slide content.'
                },
            ]
        }
    }
  }
</script>
