<template>
  <div class="justify-content-between row">
      <div id="form-image-box" class="col" v-if="showImages">
            <span id="image-list" v-for="image in allImages" :key="image.id">
                <img :src="image.image_path" width="100" />
                <button class="btn btn-danger" @click.prevent="deleteProductImage(image.id)">
                    <span>DELETE</span>
                </button>
            </span>
      </div>
  </div>
</template>

<script>

export default {
  name: "form-image-box",
  display: "form-image-box",
  order: 16,
  data () {
      return {
          showImages: true,
          allImages: []
      }
  },
  created (){
      this.getProductImage();
  },
  mounted () {
    this.getProductImage();
  },
  props: {
    images: {
        type: Object/Array
    },
    product_id: {
        type: Number,
        default: ''
    },
    category_id: {
        type: Number/String,
        default: ''
    },
  },
  components: {
  },
  computed: {
    elements: {
      get() {
      },
      set(value) {
      }
    }
  },
  methods: {
      getProductImage() {
          let self = this;
        this.$http({
            url: this.$store.state.base_url + "admin/catalog/product/" + this.product_id + "/images", method: 'post', dataType: 'json',
        }).then(response => {
            self.showImages = true;
            self.allImages = response.data;
        }).catch(error => {
            console.log(error.response.data);
            this.messagesClass = 'alert alert-danger';
            this.messages = error.response.data.errors;
        });
      },
      deleteProductImage (id) {
        let self = this;
        this.showImages = false;
        this.$http({
            url: this.$store.state.base_url + "admin/catalog/product/" + this.product_id + "/deleteImage/" + id, method: 'post', dataType: 'json',
            data: {
                product_id: this.product_id,
                image_id: id
            }
        }).then(response => {
            this.getProductImage();
            self.showImages = true;
        }).catch(error => {
            console.log(error.response.data);
            this.messagesClass = 'alert alert-danger';
            this.messages = error.response.data.errors;
        });
      },
      createCustomItem () {
        this.$http({
            url: this.$store.state.base_url + "admin/content/menu/1/items/create", method: 'post', dataType: 'json',
            data: {
                type: this.itemType,
                menu_id: this.menu_id,
                parent_id: this.parent_id,
                title: this.title,
                url: this.url,
                status: this.status,
                desc: this.desc
            }
        }).then(response => {
            console.log(response.data );
            console.log(response.status);
            console.log('test ', this.itemType, this.title, this.url, this.status, this.desc)
              window.location.href = '/admin/content/menu/1/items/'
        }).catch(error => {
            console.log(error.response.data);
            this.messagesClass = 'alert alert-danger';
            this.messages = error.response.data.errors;
        });
      }
  },
  watch: {
      images (val) {
          this.images = val
      }
  }
}
</script>
