<template>
  <div class="justify-content-between row">
      <div id="form-image-box" class="col" v-if="showImages">
            <span v-for="image in images" :key="image.id">
                <img :src="'/storage/' + image.image_path" width="100%" />
                <button class="btn btn-danger" @click.prevent="deleteImage(image.id)">
                    <span>X</span>
                </button>
            </span>
      </div>
  </div>
</template>

<script>

export default {
  name: "form-image-box",
  display: "form-image-box",
  order: 16,
  data () {
      return {
          showImages: true,
          allImages: []
      }
  },
  created (){
      this.getImage();
  },
  mounted () {
    this.getImage();
    console.log('test');
  },
  props: {
    type: {
        type: String
    },
    images: {
        type: Object/Array
    },
    id: {
        type: Number,
        default: ''
    },
  },
  components: {
  },
  computed: {
    elements: {
      get() {
      },
      set(value) {
      }
    }
  },
  methods: {
      getImage() {
        let self = this;
        this.$http({
            url: this.$store.state.base_url + "admin/catalog/" + this.type + "/" + this.id + "/images", method: 'post', dataType: 'json',
        }).then(response => {
            self.showImages = true;
            self.allImages = response.data;
        }).catch(error => {
            console.log(error.response.data);
            this.messagesClass = 'alert alert-danger';
            this.messages = error.response.data.errors;
        });
      },
      deleteImage (id) {
        let self = this;
        this.showImages = false;
        // this.$http({
        //     url: this.$store.state.base_url + "admin/catalog/product/" + this.id + "/deleteImage/" + id, method: 'post', dataType: 'json',
        //     data: {
        //         product_id: this.product_id,
        //         image_id: id
        //     }
        // }).then(response => {
        //     this.getProductImage();
        //     self.showImages = true;
        // }).catch(error => {
        //     console.log(error.response.data);
        //     this.messagesClass = 'alert alert-danger';
        //     this.messages = error.response.data.errors;
        // });
      },

  },
  watch: {
      images (val) {
          this.images = val
          console.log(val);
      }
  }
}
</script>
