<template>
    <div class="" >
        <h4>Drop image</h4>
        <div class="row first-image">
            <div class="col-4 text-right">
                <label for="image">{{ label }}</label>
            </div>
            <div class="col-8">
                    <input type="file"
                        :class="classImage"
                        :id="name"
                        :name="name"
                        accept="image/*"
                        :style="imageBoxStyle"
                        :data-before="btn_text"
                        @change="previewImage"
                    >
                    <img
                        v-if="showImages"
                        id="output_image"
                        class="output_image"
                        :width="image_width"
                        :height="image_height"
                        style="vertical-align: top;"
                    />
                    <img v-if="!showImages && old_image"
                        :src="old_image"
                        class="output_image"
                        :width="image_width"
                        :height="image_height"
                        style="vertical-align: top;"
                    />
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "form-image-box",
    display: "form-image-box",
    order: 16,
    data () {
        return {
            classImage: 'custom-image-file-input col-6',
            showImages: false,
            allImages: [],
            imageBoxStyle: 'color:red;'
        }
    },
    created (){
    },
    mounted () {
    },
    props: {
        data: {
            type: Object
        },
        type: {
            type: String
        },
        name: {
            type: String,
            default: 'image'
        },
        label: {
            type: String,
            default: ''
        },
        btn_text: {
            type: String
        },
        image_width:{
            type: String,
            default: '100%'
        },
        image_height: {
            type: String,
            default: 'auto'
        },
        old_image: {
            type: String,
            default: ''
        }
    },
    components: {
    },
    computed: {
        elements: {
            get() {
            },
            set(value) {
            }
        },
        style() {
            return 'background: ' + this.top + ';' + '...'
        }
    },
    // computed: {
    //     classObject: function () {
    //         return {
    //         active: this.isActive && !this.error,
    //         'text-danger': this.error && this.error.type === 'fatal'
    //         }
    //     }
    // },
    methods: {
        previewImage(event){
            this.showImages = true;
            var reader = new FileReader();
            reader.onload = function(){
                //var output = document.getElementById('output_image');
                //console.log(event.target.parentNode.querySelector('.output_image'));
                var output = event.target.parentNode.querySelector('.output_image');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    },
    watch: {
        images (val) {
            this.images = val
        }
    }
}
</script>
