.ps-post {
    .ps-post__thumbnail {
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        height: 200px;

        img {
            width: 100%;
            margin: 0;
            background: yellow;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
    }
}

.pp-post__box {
    .pp-post {
        border: thin solid #dedede;
        height: 100%;
        background: #fff;
        &:nth-child(1) {
            margin-right: 5px;
        }
        &:nth-child(2) {
            margin: 0 5px;
        }
        &:nth-child(3) {
            margin-left: 5px;
        }
        .pp-post-content {
            padding: 10px 20px;
        }
        &:hover {
            transition: all .4s ease;
            -webkit-box-shadow: 0 6px 24px 0 rgba(0,0,0,.18);
            -moz-box-shadow: 0 6px 24px 0 rgba(0,0,0,.18);
            box-shadow: 0 6px 24px 0 rgba(0,0,0,.18);
        }
    }
}
