@media screen and (min-width: 768px) {
    .feature {

        display: grid;
        padding: 1rem 0;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, minmax(20rem, 1fr));
        //  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        column-gap: 0.5rem;
        //background-color: orange;

        .item {

            margin: 0.5rem;
            padding: 7rem;
            color: #000;
            font-size: 3.5rem;
            font-family: sans-serif;
            text-transform: uppercase;
            border-radius: .2rem;


            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            overflow: hidden;

            // box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
            transition: all .2s;

            transform: translate(0, -0.3rem);
            box-shadow: 0 1px 4px rgba(0, 0, 0, .10);

            img {
                width: 100%;
                max-width: none;
                height: auto;
                margin: 0;
                background: yellow;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                z-index: 999;
                opacity: 0.5;
                &:hover {
                    opacity: 1;
                }
                z-index: 999;
            }

            span {
                z-index: 9999;
                position: absolute;
            }

            &:hover span {
                bottom: 0;
                left: 5px;
                color: #3e4095;
                transition: all 0.5s;
            }

            &:nth-child(7n+1) {
                // background-color: blue;
                grid-row: 1 / 3;
                grid-column: 2 / 4;
            }

            &:nth-child(7n+2) {
                // background-color: purple;
                grid-row: 3 / 4;
                grid-column: 2 / 3;
            }

            &:nth-child(7n+3) {
                // background-color: red;
            }

            &:nth-child(7n+4) {
                // background-color: green;
                grid-row: 2/ 4;
                img {
                    width: auto;
                    height: 100%;
                }
            }

            &:nth-child(7n+5) {
                // background-color: teal;
            }

            &:nth-child(7n+6) {
                // background-color: navy;
                grid-column: 1 / -1;

                img {
                    width: 100%;
                    height: auto;
                }
            }


            &:hover {

                background-color: lightgray;
                color: gray;
                transform: translate(0, -0.3rem);
                box-shadow: 0 1rem 4rem rgba(0, 0, 0, .50);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .feature {
        .item {

            margin: 0.5rem;
            padding: 7rem;
            color: #000;
            font-size: 3.5rem;
            font-family: sans-serif;
            text-transform: uppercase;
            border-radius: .2rem;


            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            overflow: hidden;

            // box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
            transition: all .2s;

            img {
                width: 100%;
                max-width: none;
                height: auto;
                margin: 0;
                background: yellow;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                z-index: 999;
                opacity: 0.5;
                &:hover {
                    opacity: 1;
                }
                z-index: 999;
            }

            span {
                z-index: 9999;
                position: absolute;
                top: 10%;
                left: 10%;
                font-size: 24px;
            }

            &:hover span {
            }

            &:nth-child(7n+1) {
            }

            &:nth-child(7n+2) {
            }

            &:nth-child(7n+3) {
            }

            &:nth-child(7n+4) {
            }

            &:nth-child(7n+5) {
            }

            &:nth-child(7n+6) {
            }


            &:hover {
            }
        }
    }

}

