@media (min-width: 320px) {
    .ps-container {
        padding: 0px 20px;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}

@media screen and (min-width: 1400px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1280px;
    }
}
