.menu {
    &> li {
        &.dropdown {
            &:hover {
                &> .sub-menu {
                    z-index: 10009;
                }
            }
        }
        &> a {
            font-family: "Rajdhani", sans-serif;
            font-weight: 500;
        }
    }
}
.sub-menu {
    &> li {
        &> a {
            font-family: "Rajdhani", sans-serif;
            font-weight: 500;
        }
    }
}
