@media (max-width: 1199px) {
    .menu {
        & > li {
            &.menu-item-has-children {
                span {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 999;
                    display: block;
                    padding: 13px 20px;
                    display: inline-block;
                    &:after {
                        content: "\F107";
                        font-family: FontAwesome;
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        right: -5px;
                        padding: 10px 20px;
                        font-size: 18px;
                    }
                }
                & > a {
                    &:after {
                        //content: "\F107";
                        content: none;
                        font-family: FontAwesome;
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        right: 10px;
                        padding: 10px 20px;
                    }
                }
            }
        }
    }
}
