.ps-product--detail {
    .ps-product__image {
        .item {
            text-align: center;
            img {
                // max-height: 500px;
            }
        }
    }
}

.pp-product {
    &__price-box {
        display: inline-block;
        padding: 5px 10px;
        background: $patrol-zuta;
    }
}
