.ps-product__columns {
    &.grid {
        padding-bottom: 80px;
        @include clearfix;
        margin: 0px;
        .ps-product__column_grid {
            float: none;
            width: 100%;
            padding: 0 15px;
            margin-bottom: 10px;
            min-height: 200px;
            max-height: 240px;
            background: #fff;
            &:hover {
                z-index: 10009;
            }
        }
        @media (max-width: 1600px) {
            .ps-product__column_grid {
                width: 100%;
            }
        }
        @media (max-width: 1399px) {
            .ps-product__column_grid {
                width: 100%;
            }
        }
        @include media("<sm") {
            .ps-product__column_grid {
                width: 100%;
            }
        }
        @media (max-width: 569px) {
            .ps-product__column_grid {
                width: 100%;
            }
        }

        .ps-shoe {
            padding-bottom: 123px;
            .ps-shoe__thumbnail {
                float: left;
                width: 100%;
                img {
                    max-height: 200px;
                    width: auto;
                }
            }
            .ps-shoe__content {
                float: left;
                width: calc(100% - 200px);
                margin-left: calc(100% - (100% - 200px));
                top: 0;
            }
            .ps-shoe__desc {
                padding: 20px;
                height: 100px;
                overflow: hidden;
            }
            .ps-shoe__content {
                display: block;
                position: absolute;
                padding: 10px 0 0;
                bottom: 0;
                left: 0;
                z-index: 10;
                width: calc(100% - 200px);
                z-index: 1000;
                overflow: hidden;
                @include transition(all .4s ease);
            }
            .ps-shoe__variants {
                position: absolute;
                top: 10px;
                left: 0;
                width: 100%;
                z-index: 10003;
                min-height: 50px;
                max-height: 80px;
                @include hidden;
                @include transition(all .4s ease);
                @include transform(translateY(-100px));
                .ps-shoe__variant {
                    padding: 0 25px;
                    margin-bottom: 10px;

                    &_grid {
                        /* no slider */
                        img {
                            width: auto;
                            height: auto;
                            max-height: 50px;
                            margin-right: 10px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    /* slider */
                    .owl-nav {
                        @include vertical-align();
                        left: 0;
                        height: 0;
                        width: 100%;
                        @include clearfix;
                    }
                    .owl-prev, .owl-next {
                        display: inline-block;
                        @include transform(translateY(-50%));
                    }
                    .owl-next {
                        float: right;
                    }
                }
                .owl-carousel {
                    .owl-item {
                        img {
                            width: 50px;
                            height: auto;
                            margin: 0;
                        }
                    }
                }
            }
            &:hover {
                z-index: 10001;
                &:before {
                    @include show;
                    @include transform(scale(1, 1));
                }
                .ps-shoe__thumbnail {
                    z-index: 10000;
                }
                .ps-shoe__content {
                    padding-top: 60px;
                    bottom: -85px;
                    max-height: none;
                }
                .ps-shoe__variants {
                    @include show;
                    @include transform(translateY(0));
                }
                .ps-shoe__favorite {
                    @include transform(scale(1, 1));
                }
            }
        }
    }
}


.owl-carousel {
    .owl-item {
        margin-left: 5px;
    }
    .owl-stage-outer {
        max-height: 511px;
        height: auto;
    }
}

#page {
    &-catalog,
    &-category {
        .pp-product {
            &__grid {
                position: relative;
                padding: 0 5px;
                float: left;
                &.per_row {
                    &__3 {
                        width: 100%;
                        @media screen and (min-width: 768px) {
                            width: calc((100% / 3) - 10px);
                        }
                    }
                    &__4 {
                        width: 100%;
                        @media screen and (min-width: 768px) {
                            width: calc((100% / 4) - 10px);
                        }
                    }
                    &__5 {
                        width: 100%;
                        @media screen and (min-width: 768px) {
                            width: calc((100% / 5) - 10px);
                        }
                    }
                    &__6 {
                        width: 100%;
                        @media screen and (min-width: 768px) {
                            width: calc((100% / 6) - 10px);
                        }
                    }
                }
            }
        }
    }
}
.pp-product {
    &__grid {
        &:hover {
            // border: 1px solid #fff;
            background: #e3e3e3;
            transition: all .4s ease;
            -webkit-box-shadow: 0 6px 24px 0 rgba(0,0,0,.18);
            -moz-box-shadow: 0 6px 24px 0 rgba(0,0,0,.18);
            box-shadow: 0 6px 24px 0 rgba(0,0,0,.18);
            // opacity: 0.2;
        }
        .pp-product {
            &__thumbnail {
                text-align: center;
                width: 100%;
                height: 350px;
                overflow: hidden;
                &.crop {
                    position: relative;
                    overflow: hidden;
                }
                img {
                    // max-height: 280px;
                    @media screen and (max-width: 1080px) {
                        // max-height: 150px;
                    }
                    @media screen and (max-width: 1280px) {
                        // max-height: 200px;
                    }
                    @media screen and (max-width: 1400px) {
                        // max-height: 210px;
                    }
                    &.crop {
                        width: auto;
                        max-width: 100%;
                        margin: 0 auto;

                        width: auto;
                        margin: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-right: -50%;
                        transform: translate(-50%, -50%);
                        // height: 260px;
                    }
                }

            }
            &__stock-status {
                position: absolute;
                left: -10px;
                &:not(.with-price) {
                    top: 30px;
                }
                &.with-price {
                    top: -10px;
                }
            }
            &__title {
                font-size: 16px;
                height: 4rem;
                text-align: center;
            }
            &__link {
                display: block;
                position: absolute;
                color: #fff;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                padding: 0;
                z-index: 2;
                // &:hover {
                //     // border: 1px solid #fff;
                //     background: #e3e3e3;
                //     transition: all .4s ease;
                //     -webkit-box-shadow: 0 6px 24px 0 rgba(0,0,0,.18);
                //     -moz-box-shadow: 0 6px 24px 0 rgba(0,0,0,.18);
                //     box-shadow: 0 6px 24px 0 rgba(0,0,0,.18);
                //     opacity: 0.2;
                // }
            }
            &__price {
                text-align: right;
                padding: 5px 0;
                span {
                    //position: absolute;
                    //top: -40px;
                    //right: 0;
                    padding: 5px;
                    background-color: $patrol-zuta;
                    color: #fff;
                    font-size: 14px;
                    line-height: 1.5em;
                    display: inline-block;
                }
            }
            &__desc {
                height: 10rem;
                overflow: hidden;
            }
        }
        .ps-bagde {
            &--sale {
                top: -10px;
                left: -10px;
            }
        }
        &.per_row {
            &__4 {
                .pp-product {
                    &__thumbnail {
                        height: 230px;
                    }
                }
            }
        }
    }
}

.ps-badge {
    &--2nd {
        top: -10px;
        left: -10px;
    }
}

@media screen and (max-width: 768px) {
    .pp-product {
        &__grid {
            &:hover {
            }

            .pp-product {
                &__link {
                }
                &__price {
                    top: -20%;
                }
                &__detail {
                    margin-top: 20px;
                }
                &__desc {
                    height: 5rem;
                    overflow: hidden;
                }
            }
        }
    }
}
