.ps-product__columns {
    &.list {
        padding-bottom: 80px;
        @include clearfix;
        margin: 0px;
        .ps-product__column_list {
            float: none;
            width: 100%;
            padding: 0 15px;
            margin-bottom: 10px;
            min-height: 200px;
            max-height: 240px;
            background: #fff;
            &:hover {
                z-index: 10009;
            }
        }
        @media (max-width: 1600px) {
            .ps-product__column_list {
                width: 100%;
            }
        }
        @media (max-width: 1399px) {
            .ps-product__column_list {
                width: 100%;
            }
        }
        @include media("<sm") {
            .ps-product__column_list {
                width: 100%;
            }
        }
        @media (max-width: 569px) {
            .ps-product__column_list {
                width: 100%;
            }
        }

        .ps-shoe {
            padding-bottom: 123px;
            .ps-shoe__thumbnail {
                float: left;
                width: calc(100% - (100% - 200px));
                img {
                    max-height: 200px;
                    width: auto;
                }
            }
            .ps-shoe__content {
                float: left;
                width: calc(100% - 200px);
                margin-left: calc(100% - (100% - 200px));
                top: 0;
            }
            .ps-shoe__desc {
                padding: 20px;
                height: 100px;
                overflow: hidden;
            }
            .ps-shoe__content {
                display: block;
                position: absolute;
                padding: 10px 0 0;
                bottom: 0;
                left: 0;
                z-index: 10;
                width: calc(100% - 200px);
                z-index: 1000;
                overflow: hidden;
                @include transition(all .4s ease);
            }
            .ps-shoe__variants {
                position: absolute;
                top: 10px;
                left: 0;
                width: 100%;
                z-index: 10003;
                min-height: 50px;
                max-height: 80px;
                @include hidden;
                @include transition(all .4s ease);
                @include transform(translateY(-100px));
                .ps-shoe__variant {
                    padding: 0 25px;
                    margin-bottom: 10px;

                    &_list {
                        /* no slider */
                        img {
                            width: auto;
                            height: auto;
                            max-height: 50px;
                            margin-right: 10px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    /* slider */
                    .owl-nav {
                        @include vertical-align();
                        left: 0;
                        height: 0;
                        width: 100%;
                        @include clearfix;
                    }
                    .owl-prev, .owl-next {
                        display: inline-block;
                        @include transform(translateY(-50%));
                    }
                    .owl-next {
                        float: right;
                    }
                }
                .owl-carousel {
                    .owl-item {
                        img {
                            width: 50px;
                            height: auto;
                            margin: 0;
                        }
                    }
                }
            }
            &:hover {
                z-index: 10001;
                &:before {
                    @include show;
                    @include transform(scale(1, 1));
                }
                .ps-shoe__thumbnail {
                    z-index: 10000;
                }
                .ps-shoe__content {
                    padding-top: 60px;
                    bottom: -85px;
                    max-height: none;
                }
                .ps-shoe__variants {
                    @include show;
                    @include transform(translateY(0));
                }
                .ps-shoe__favorite {
                    @include transform(scale(1, 1));
                }
            }
        }
    }
}

.owl-carousel {
    .owl-item {
        margin-left: 5px;
    }
    .owl-stage-outer {
        max-height: 511px;
        height: auto;
    }
}

.pp-product {
    &__list {
        position: relative;
        &:hover {
            // border: 1px solid #fff;
            transition: all .4s ease;
            -webkit-box-shadow: 0 6px 24px 0 rgba(0,0,0,.18);
            -moz-box-shadow: 0 6px 24px 0 rgba(0,0,0,.18);
            box-shadow: 0 6px 24px 0 rgba(0,0,0,.18);
        }

        .pp-product {
            &__link {
                display: block;
                position: absolute;
                color: #fff;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                padding: 0;
                z-index: 2;
                &:hover {
                    background: #e3e3e3;
                    opacity: 0.2;
                }
            }
            &__price {
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px;
                background-color: $patrol-zuta;
                color: #fff;
                font-size: 14px;
                line-height: 1.5em;
            }
            &__thumbnail {
                @media screen and (max-width: 768px) {
                    text-align: center;
                }
                img {
                    max-width: 85%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .pp-product {
        &__list {
            &:hover {
            }

            .pp-product {
                &__link {
                }
                &__price {
                    top: -20%;
                }
                &__detail {
                    margin-top: 20px;
                }
            }
        }
    }
}
