$font-2nd: 'Archivo Narrow', sans-serif;
$font-1st: 'Montserrat', sans-serif;

$color-1st: #2AC37D;
$color-1st-hover: #50CF96;
$color-2nd: #50CF96;
$color-heading: #303030;
$color-text: #767779;
$color-dark: #19161f;
$color-lightgray: #f4f4f4;

$patrol-zuta: #FCCC3D;
$patrol-plava: #2C3445;

$color-1st: $patrol-plava;
$color-1st-hover: $patrol-plava;
$color-2nd: $patrol-plava;
