<template>
    <tr v-if="!edit">
        <th scope="row" :model="id">{{ id }}</th>
        <th scope="row">
            <img :src="img" width="50"/>
        </th>
        <td v-on:click="edit = true">{{ name }}</td>
        <td v-on:click="edit = true">
            <span class="btn btn-outline-default col-1 text-center p-0">
                <label class="switch switch-3d switch-success">
                    <input type="checkbox" class="switch-input" :selected="status" v-model="status">
                    <span class="switch-slider" :selected="status"></span>
                </label>
            </span>
        </td>
        <td v-on:click="edit = true">{{ price }}</td>
        <td v-on:click="edit = true">{{ special_price }}</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opcije
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" :href="returnUrl('admin/catalog/product/edit/' + id)">Izmeni</a>
                    <a class="dropdown-item" :href="returnUrl('/admin/catalog/product/'+id+'/delete')">Obrisi</a>
                </div>
            </div>
        </td>
    </tr>
    <tr v-else>
        <th scope="row" :model="id">{{ id }}</th>
        <th scope="row">
            <img :src="img" width="50"/>
        </th>
        <td><input name="name" type="text" v-model="name"/></td>
        <td>
            <span class="btn btn-outline-default col-1 text-center p-0">
                <label class="switch switch-3d switch-success">
                    <input type="checkbox" class="switch-input" :selected="status" v-model="status">
                    <span class="switch-slider" :selected="status"></span>
                </label>
            </span>
        </td>
        <td><input name="name" type="text" v-model="price"/></td>
        <td><input name="name" type="text" v-model="special_price"/></td>
        <td>
            <button class="btn btn-success" v-on:click.prevent="updateProduct(id)">Sacuvaj</button>
            <button class="btn btn-danger" v-on:click.prevent="edit = false">Prekini</button>
        </td>
    </tr>
</template>

<script>
    export default {
        props: {
            id: Number,
            img: String,
            name: String,
            status: Number,
            price: Number,
            special_price: {
                type: String
            }
        },
        data() {
            return {
                action: 'updataProductData',
                edit: false
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            updateProduct (id) {
                console.log('Product ' + id + ' has been saved')

                this.$http({
                    url: this.$store.state.base_url + this.action, method: 'post', dataType: 'json',
                    data: {
                        id: this.id,
                        name: this.name,
                        status: this.status,
                        price: this.price,
                        special_price: this.special_price
                    }
                }).then(response => {
                    console.log('Data ' , response.data );
                    this.edit = false;
                }).catch(error => {
                    console.log(error.response.data);
                    this.messagesClass = 'alert alert-danger';
                    this.messages = error.response.data.errors;
                });

                // this.edit = false
            },
            returnUrl(path) {
                return this.$store.state.base_url + path;
            }
        }
    }
</script>
