<template>
  <div class="justify-content-between row">
    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container col-10">

              <div class="modal-body">
                <button class="modal-default-button" v-on:click="$emit('close')">
                    OK
                </button>
                <div>
                    <slot name="body"></slot>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>
    <!-- app -->
    <div>
      <button id="show-modal" class="btn btn-primary btn-spinner btn-sm pull-right m-b-0" @click="showModal = true"> <i class="fa fa-plus"></i>&nbsp; Add item</button>
      <modal v-if="showModal" @close="showModal = false">
        <div slot="body">
            <h4>Slider id: {{ slider.id }} - {{ slider.name }} test{{ test }}</h4>
            <form method="post" :action="$store.state.base_url + 'admin/content/slider/1/items/create'" enctype="multipart/form-data">
                <input type="hidden" :value="$store.state.crsf_field" name="_token"/>
                <input type="hidden" :value="slider.id" name="slider_id"/>
                <div class="form-group row">
                    <label class="col-3" for="name">Name</label>
                    <input class="form-control col-4" type="text" name="name" placeholder="Item name">
                  <label class="col-2" for="name">Status</label>
                  <div class="col-3">
                    <select id="inputState" class="form-control" name="status">
                        <option value="0" slected>Disable</option>
                        <option value="1">Enable</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
              </div>
                <hr class="delimiter">
                <div class="form-group row">
                    <label class="col-3" for="content_from_url">Content URL from web</label>
                    <input class="form-control col-8" type="text" name="content_from_url" placeholder="Content URL from web">
                    <small id="emailHelp" class="form-text text-muted col-12">Add image URL from web</small>
                </div>
                <hr class="delimiter">
                <div class="form-group row">
                    <label class="col-3" for="content_from_file">Add image</label>
                    <input type="file" @change="onFileChange" name="content_from_file" class="form-control-file col-5" id="content_from_file"/>
                    <div id="imagePreview" class="col-4">
                        <img v-if="imageUrl" :src="imageUrl" />
                    </div>
                </div>
                <hr class="delimiter">
                <div class="form-group row">
                    <label class="col-3" for="content-1">Content 1</label>
                    <input class="form-control col-8" name="caption_1" type="text" placeholder="Content 1">
                </div>
                <div class="form-group row">
                    <label class="col-3" for="content-2">Content 2</label>
                    <input class="form-control col-8" name="caption_2" type="text" placeholder="Content 2">
                </div>
                <hr class="delimiter">
                <!-- <div class="form-check">
                    <input type="checkbox" name="saglasnost" class="form-check-input" id="saglasnost">
                    <label class="form-check-label" for="saglasnost">Check me out</label>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div> -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </modal>
    </div>

  </div>
</template>

<script>

export default {
  data () {
      return {
        showModal: false,
        content_from_url: '',
        imageUrl: null,
        file: '',
        content: '',
        caption_1: '',
        caption_2: '',
        test: this.$store.state.base_url
      }
  },
  created (){
  },
  props: {
      slider: Object
  },
  components: {
  },
  computed: {
    elements: {
      get() {
      },
      set(value) {
      }
    }
  },
  methods: {
      trigerForm () {
        this.$http({
            url: this.$store.state.base_url + "admin/content/slider/"+slider.id+"/items/create", method: 'post', dataType: 'json',
            data: {
                slider_id : slider.id,
                content_from_url: '',
                imageUrl: null,
                file: '',
                content: '',
                caption_1: '',
                caption_2: ''
            }
        }).then(response => {
            console.log(response.data );
            this.$emit('close')
            this.showModal = false
        }).catch(error => {
            console.log(error.response.data);
        });
      },
        preview_image(event){
            var reader = new FileReader();
            reader.onload = function(){
                //var output = document.getElementById('output_image');
                //console.log(event.target.parentNode.querySelector('.output_image'));
                var output = event.target.parentNode.querySelector('.output_image');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        },
    onFileChange(e) {
      const file = e.target.files[0];
      this.imageUrl = URL.createObjectURL(file);
    }

  }
}
</script>
