<template>
  <div class="justify-content-between row">
      <pp-menu-accordion/>
  </div>
</template>

<script>
import PPSubscribe from './components/form/PPSubscribe.vue';
import PPSidebar from './components/plugins/PPSidebar.vue';
import PPMenuAccordion from "./components/plugins/PPMenuAccordion.vue";

export default {
    name: 'app',
    components: {
        'pp-subscribe': PPSubscribe,
        'pp-sidebar-menu-accordion': PPSidebar,
        'pp-menu-accordion': PPMenuAccordion
    },
    data () {
        return {

        }
    },
    beforeMount () {
    },
    mounted () {
    },
    methods: {},
    watch: {}
}
</script>
