<template>
<div>
    <div class="row border-bottom">
        <span class="col-1 text-left"> Order</span>
        <span class="col-3 text-left"> Name</span>
        <span class="col-1 text-center"> ID</span>
        <span class="col-1 text-center"> Status</span>
        <span class="col-3 text-left"> Updated</span>
    </div>
    <vue-nestable v-model="nestableItems" :maxDepth="2">
        <vue-nestable-handle
            slot-scope="{ item }"
            :item="item">
            <!-- {{ item }} -->
            <div class="border-bottom">
                <span class="btn btn-outline-default col-1 text-left p-0"> {{ item.product.order }}</span>
                <span class="btn btn-outline-default col-3 text-left p-0"> {{ item.product.name }}</span>
                <span class="btn btn-outline-default col-1 text-center p-0"> {{ item.product.id }}</span>
                <span class="btn btn-outline-default col-1 text-center p-0">
                    <label class="switch switch-3d switch-success">
                        <input type="checkbox" class="switch-input" :selected="item.status" v-model="item.product.status">
                        <span class="switch-slider" :selected="item.product.status" v-on:click="updateProductStatus(item.product.id)"></span>
                    </label>
                </span>
                <span class="btn btn-outline-default col-2 text-left p-0"> {{ item.updated_at }}</span>
                <span class="btn btn-outline-default col-2 text-left p-0">
                    <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opcije
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" :href="$store.state.base_url + returnUrl(tip === 'category.products' ? item.product_id : item.id, 'edit')">Edit</a>
                        <a v-show="tip == 'category'" class="dropdown-item" :href="$store.state.base_url + returnUrl(item.id, 'products')">Products</a>
                        <a class="dropdown-item" :href="$store.state.base_url + returnUrl(item.id, 'delete')">Delete</a>
                    </div>
                    </div>
                </span>
            </div>
        </vue-nestable-handle>
    </vue-nestable>
</div>

</template>

<script type="text/babel">
import { VueNestable, VueNestableHandle } from 'vue-nestable';

export default {
    components: {
        VueNestable,
        VueNestableHandle
    },
    data () {
        return {
            nestableItems: []
        }
    },
    props: {
        elements: {
            type: Array/Object
        },
        action: {
            type: String,
            default: "category/updateCategoryProductOrderId"
        },
        tip: {
            type: String
        }
    },
    created() {
        this.nestableItems = this.elements
        console.log('Elements ', this.elements)
        console.log('Nested', this.nestableItems)
    },
    watch: {
        nestableItems (val) {
            console.log('Val', val, this.nestableItems)
            this.updateOrder(this.nestableItems)
        }
    },
    methods: {
        dateDisplay (date) {
            return date;
        },
        updateOrder (categories) {
            this.$http({
                url: this.$store.state.base_url + this.action, method: 'post', dataType: 'json',
                data: {
                    data: categories
                }
            }).then(response => {
                console.log('Data ' , response.data );
                console.log('Status', response.status);
                // this.nestableItems = response.data.categories; // not workng -> restart loop
            }).catch(error => {
                console.log(error.response.data);
                this.messagesClass = 'alert alert-danger';
                this.messages = error.response.data.errors;
            });
        },
        updateProductStatus (id) {
            console.log(id);
        },
        returnUrl (id, action) {
            // console.log('tip', this.tip);
            return 'admin/catalog/product/'+ action + '/' + id;
        }
    }
}
</script>
