<template>
<div id="nestableItems">
    <vue-nestable v-model="nestableItems" :maxDepth="1">
        <vue-nestable-handle
            slot-scope="{ item }"
            :item="item">

            <div class="image">
                <img :src="item.image_path" width="100" />
            </div>
            <button class="deleteProdImage btn btn-danger" @click.prevent="deleteProductImage(item.product_id, item.id)">
                <span>Izbrisi</span>
            </button>
        </vue-nestable-handle>
    </vue-nestable>
</div>

</template>

<script type="text/babel">
import { VueNestable, VueNestableHandle } from 'vue-nestable';

export default {
    components: {
        VueNestable,
        VueNestableHandle
    },
    data () {
        return {
            nestableItems: []
        }
    },
    props: {
        elements: {
            type: Array/Object
        },
    },
    created() {
        this.nestableItems = this.elements
        console.log('Elements ', this.elements)
        console.log('Nested', this.nestableItems)
    },
    watch: {
        nestableItems (val) {
            console.log('Val', val, this.nestableItems);
            this.updateImageOrderId(this.nestableItems);
        }
    },
    methods: {
        deleteProductImage (product_id, id) {
            console.log('Delete ', id);
            this.$http({
                url: this.$store.state.base_url + "product/deleteProductImage", method: 'post', dataType: 'json',
                data: {
                    product_id: product_id,
                    id: id
                }
            }).then(response => {
                console.log('Data ' , response.data );
                console.log('Status', response.status);
                this.nestableItems = response.data.all_images;
                // this.nestableItems = response.data.categories; // not workng -> restart loop
            }).catch(error => {
                console.log(error.response.data);
                // this.messagesClass = 'alert alert-danger';
                // this.messages = error.response.data.errors;
            });
        },
        updateImageOrderId (images) {
            this.$http({
                url: this.$store.state.base_url + "product/updateImageOrderId", method: 'post', dataType: 'json',
                data: {
                    images: images
                }
            }).then(response => {
                console.log('Data ' , response.data );
                console.log('Status', response.status);
                // this.nestableItems = response.data.categories; // not workng -> restart loop
            }).catch(error => {
                console.log(error.response.data);
                this.messagesClass = 'alert alert-danger';
                this.messages = error.response.data.errors;
            });
        }
    }
}
</script>
<style scoped>
    .nestable-item {
        display: inline-block;
        float: left;
    }
</style>
