<template>
  <div class="justify-content-between row">
      {{ page }}
      {{ content }}
      <p v-html="content"></p>
  </div>
</template>

<script>

export default {
    name: 'pp-app',
    components: {
    },
    props: {
        page: {
            type: String,
            default: ''
        },
        content: {
            type: String,
            default: ''
        }
    },
    data () {
        return {
        }
    },
    beforeMount () {
    },
    mounted () {
    },
    methods: {},
    watch: {}
}
</script>
