<template>
  <div id="app">
    <vue-dropzone
        id="drop1"
        :options="dropOptions"
        @vdropzone-complete="afterComplete"
        @vdropzone-success="showSuccess"
    ></vue-dropzone>
  </div>
</template>

<script>
import vueDropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

const getTemplate = () => `
<div class="dz-preview dz-file-preview">
  <div class="dz-image">
    <div data-dz-thumbnail-bg></div>
  </div>
  <div class="dz-details">
    <div class="dz-size"><span data-dz-size></span></div>
    <div class="dz-filename"><span data-dz-name></span></div>
  </div>
  <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
  <div class="dz-error-message"><span data-dz-errormessage></span></div>
  <div class="dz-success-mark"><i class="fa fa-check"></i></div>
  <div class="dz-error-mark"><i class="fa fa-close"></i></div>
</div>
`;

export default {
    data() {
        return {
            token: this.$store.state.crsf_field,
            dropOptions: {
                url: "/test",
                headers: {
                    "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content
                },
                //   url: "https://httpbin.org/post",
                  files: this.files,
                //   maxFilesize: 2, // MB
                //   maxFiles: 4,
                //   chunking: true,
                //   chunkSize: 500, // Bytes
                //   thumbnailWidth: 50, // px
                //   thumbnailHeight: 50,
                addRemoveLinks: true
            },
                success: function (file, response) {
                    $('form').append('<input type="hidden" name="document[]" value="' + response.name + '">')
                    uploadedDocumentMap[file.name] = response.name
                },
        };
    },
    components: {
        vueDropzone
    },
  methods: {
    afterComplete(file) {
      console.log(file);
    },
    showSuccess (file, response) {
        console.log(file, response);
    },
    removeAllFiles() {
      this.$refs.dropzone.removeAllFiles();
    }
  }
};
</script>
<style>
  #drop1 {
    height: auto;
    width: 100%;
    padding: 10px;
    color: white;
    background: black;
  }

  #drop1 .dz-preview {
    width: 160px;
  }
  /* ... */
</style>
