.ps-badge {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 35px;
    z-index: 10;
    background-color: $color-1st;
    > span {
        @include center();
        font-family: $font-1st;
        font-size: 16px;
        font-weight: 500;
        color: #efefef;
    }
    &--sale {
        background-color: #cf5050;
    }
    &--2nd {
        top: 50px;
    }
    &--price {
        width: 200px;
        right: 0;
        left: auto;
        position: absolute;
        left: auto;
        right: 0;
        top: auto;
        bottom: 0;
        padding: 5px;;
        z-index: 99999;
        > span {
            &.badge-price {
                font-family: $font-1st;
                font-size: 16px;
                font-weight: 500;
                color: #3e4095;
                position: relative;
                padding: 10px;
            }
        }
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: #fccc3d;
            opacity: 0.8;
        }
    }
}
