.custom-image-file-input {
    color: transparent;
    padding: 0;
    &::-webkit-file-upload-button {
        visibility: hidden;
    }
    &::before {
        // content: 'Select some files';
        content: attr(data-before);
        color: black;
        display: inline-block;
        // background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid #999;
        border-radius: 3px;
        padding: 100px 50px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
        width: 100%;
        text-align: center;
    }
    &:hover::before {
        border-color: black;
    }
    &:active {
        outline: 0;
    }
    &:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }
}
