/*
* Style for nestable
*/
.nestable {
    position: relative;
  }
  .nestable-rtl {
    direction: rtl;
  }
  .nestable .nestable-list {
    margin: 0;
    padding: 0 0 0 20px;
    list-style-type: none;
    ol {
        &.nestable-list {
            li {
                &:before {
                    content: "";
                    width: 15px;
                    height: 5px;
                    background: red;
                    position: absolute;
                    left: -20px;
                    top: 15px;
                }
            }
        }
    }
  }
  .nestable-rtl .nestable-list {
    padding: 0 40px 0 0;
  }
  .nestable > .nestable-list {
    padding: 0;
  }
  .nestable-item,
  .nestable-item-copy {
    margin: 10px 0 0;
  }
  .nestable-item:first-child,
  .nestable-item-copy:first-child {
    margin-top: 0;
  }
  .nestable-item .nestable-list,
  .nestable-item-copy .nestable-list {
    margin-top: 10px;
  }
  .nestable-item {
    position: relative;
  }
  .nestable-item.is-dragging .nestable-list {
    pointer-events: none;
  }
  .nestable-item.is-dragging * {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .nestable-item.is-dragging:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(106, 127, 233, 0.274);
    border: 1px dashed rgb(73, 100, 241);
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .nestable-drag-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
  }
  .nestable-rtl .nestable-drag-layer {
    left: auto;
    right: 0;
  }
  .nestable-drag-layer > .nestable-list {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background-color: rgba(106, 127, 233, 0.274);
  }
  .nestable-rtl .nestable-drag-layer > .nestable-list {
    padding: 0;
  }
  .nestable [draggable="true"] {
    cursor: move;
  }
  .nestable-handle {
    display: block;
  }

#nestableItems {
    .nestable-item {
        display: inline-block;
        float: left;
        margin: 10px 20px;
        .nestable-item-content {
            text-align: center;
            img {
                height: 150px;
                width: auto;
            }
            .deleteProdImage {
                margin: 5px 0 0 0;
            }
        }
    }
}
