#sidebar {
    background: $admin_sidebar_bg;
    width: 200px;
    display: block;
    float: left;
    height: 100%;
    min-height: 100%;
    position: fixed;
    overflow: scroll;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    ul.nav {
        list-style: none;
        display: block;

        li {
            &.nav-item {
                display: list-item;
                position: relative;
                outline: none;

                &.active {
                    font-weight: 700;
                }

                p {
                    padding: 5px 0;
                    margin: 5px 0;
                    outline: none;
                }

                &.level0 {
                    &>a {
                        color: #fff;
                        display: block;
                        outline: none;

                        @include li-level-0-border-bottom($li-level-0-border-color);

                        &.nav-link {
                            padding: 0.1rem 0.5rem;

                            &:hover {
                                background: lighten($sidebar-bg-color, 7%);
                            }

                            &[data-toggle="collapse"] {
                                &:after {
                                    @extend %fa-icon;
                                    @extend .fas;

                                    position: absolute;
                                    top: 20px;
                                    right: 5px;
                                    content: fa-content($fa-var-caret-right);
                                }

                                &[aria-expanded="true"] {
                                    &:after {
                                        content: fa-content($fa-var-caret-down);
                                    }
                                }
                            }
                        }
                    }

                    .collapse {
                        background-color: $open-accordian-bg-color;

                        ul.nav {
                            background-color: $open-accordian-bg-color;

                            li {
                                &.nav-item {
                                    &:hover {
                                        background-color: lighten($sidebar-bg-color, 37%);
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
