.switch {
    display: inline-block;
    width: 40px;
    height: 26px;
  }

  .switch-input {
    display: none;
  }

  .switch-slider {
    position: relative;
    display: block;
    height: inherit;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #c8ced3;
    transition: 0.15s ease-out;
    border-radius: 0.25rem;
  }

  .switch-slider::before {
    position: absolute;
    top: 2px;
    left: 2px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    content: "";
    background-color: #fff;
    border: 1px solid #c8ced3;
    transition: 0.15s ease-out;
    border-radius: 0.125rem;
  }

  .switch-input:checked ~ .switch-slider::before {
    transform: translateX(14px);
  }

  .switch-input:disabled ~ .switch-slider {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .switch-lg {
    width: 48px;
    height: 30px;
  }

  .switch-lg .switch-slider {
    font-size: 12px;
  }

  .switch-lg .switch-slider::before {
    width: 24px;
    height: 24px;
  }

  .switch-lg .switch-slider::after {
    font-size: 12px;
  }

  .switch-lg .switch-input:checked ~ .switch-slider::before {
    transform: translateX(18px);
  }

  .switch-sm {
    width: 32px;
    height: 22px;
  }

  .switch-sm .switch-slider {
    font-size: 8px;
  }

  .switch-sm .switch-slider::before {
    width: 16px;
    height: 16px;
  }

  .switch-sm .switch-slider::after {
    font-size: 8px;
  }

  .switch-sm .switch-input:checked ~ .switch-slider::before {
    transform: translateX(10px);
  }

  .switch-label {
    width: 48px;
  }

  .switch-label .switch-slider::before {
    z-index: 2;
  }

  .switch-label .switch-slider::after {
    position: absolute;
    top: 50%;
    right: 1px;
    z-index: 1;
    width: 50%;
    margin-top: -0.5em;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    color: #c8ced3;
    text-align: center;
    text-transform: uppercase;
    content: attr(data-unchecked);
    transition: inherit;
  }

  .switch-label .switch-input:checked ~ .switch-slider::before {
    transform: translateX(22px);
  }

  .switch-label .switch-input:checked ~ .switch-slider::after {
    left: 1px;
    color: #fff;
    content: attr(data-checked);
  }

  .switch-label.switch-lg {
    width: 56px;
    height: 30px;
  }

  .switch-label.switch-lg .switch-slider {
    font-size: 12px;
  }

  .switch-label.switch-lg .switch-slider::before {
    width: 24px;
    height: 24px;
  }

  .switch-label.switch-lg .switch-slider::after {
    font-size: 12px;
  }

  .switch-label.switch-lg .switch-input:checked ~ .switch-slider::before {
    transform: translateX(26px);
  }

  .switch-label.switch-sm {
    width: 40px;
    height: 22px;
  }

  .switch-label.switch-sm .switch-slider {
    font-size: 8px;
  }

  .switch-label.switch-sm .switch-slider::before {
    width: 16px;
    height: 16px;
  }

  .switch-label.switch-sm .switch-slider::after {
    font-size: 8px;
  }

  .switch-label.switch-sm .switch-input:checked ~ .switch-slider::before {
    transform: translateX(18px);
  }

  .switch-3d .switch-slider {
    background-color: #f0f3f5;
    border-radius: 50em;
  }

  .switch-3d .switch-slider::before {
    top: -1px;
    left: -1px;
    width: 26px;
    height: 26px;
    border: 0;
    border-radius: 50em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .switch-3d.switch-lg {
    width: 48px;
    height: 30px;
  }

  .switch-3d.switch-lg .switch-slider::before {
    width: 30px;
    height: 30px;
  }

  .switch-3d.switch-lg .switch-input:checked ~ .switch-slider::before {
    transform: translateX(18px);
  }

  .switch-3d.switch-sm {
    width: 32px;
    height: 22px;
  }

  .switch-3d.switch-sm .switch-slider::before {
    width: 22px;
    height: 22px;
  }

  .switch-3d.switch-sm .switch-input:checked ~ .switch-slider::before {
    transform: translateX(10px);
  }

  .switch-primary .switch-input:checked + .switch-slider {
    background-color: #4273FA;
    border-color: #104ef9;
  }

  .switch-primary .switch-input:checked + .switch-slider::before {
    border-color: #104ef9;
  }

  .switch-outline-primary .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #4273FA;
  }

  .switch-outline-primary .switch-input:checked + .switch-slider::before {
    border-color: #4273FA;
  }

  .switch-outline-primary .switch-input:checked + .switch-slider::after {
    color: #4273FA;
  }

  .switch-outline-primary-alt .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #4273FA;
  }

  .switch-outline-primary-alt .switch-input:checked + .switch-slider::before {
    background-color: #4273FA;
    border-color: #4273FA;
  }

  .switch-outline-primary-alt .switch-input:checked + .switch-slider::after {
    color: #4273FA;
  }

  .switch-secondary .switch-input:checked + .switch-slider {
    background-color: #c8ced3;
    border-color: #acb5bc;
  }

  .switch-secondary .switch-input:checked + .switch-slider::before {
    border-color: #acb5bc;
  }

  .switch-outline-secondary .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #c8ced3;
  }

  .switch-outline-secondary .switch-input:checked + .switch-slider::before {
    border-color: #c8ced3;
  }

  .switch-outline-secondary .switch-input:checked + .switch-slider::after {
    color: #c8ced3;
  }

  .switch-outline-secondary-alt .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #c8ced3;
  }

  .switch-outline-secondary-alt .switch-input:checked + .switch-slider::before {
    background-color: #c8ced3;
    border-color: #c8ced3;
  }

  .switch-outline-secondary-alt .switch-input:checked + .switch-slider::after {
    color: #c8ced3;
  }

  .switch-success .switch-input:checked + .switch-slider {
    background-color: #60CF7D;
    border-color: #3ac25e;
  }

  .switch-success .switch-input:checked + .switch-slider::before {
    border-color: #3ac25e;
  }

  .switch-outline-success .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #60CF7D;
  }

  .switch-outline-success .switch-input:checked + .switch-slider::before {
    border-color: #60CF7D;
  }

  .switch-outline-success .switch-input:checked + .switch-slider::after {
    color: #60CF7D;
  }

  .switch-outline-success-alt .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #60CF7D;
  }

  .switch-outline-success-alt .switch-input:checked + .switch-slider::before {
    background-color: #60CF7D;
    border-color: #60CF7D;
  }

  .switch-outline-success-alt .switch-input:checked + .switch-slider::after {
    color: #60CF7D;
  }

  .switch-info .switch-input:checked + .switch-slider {
    background-color: #63c2de;
    border-color: #39b2d5;
  }

  .switch-info .switch-input:checked + .switch-slider::before {
    border-color: #39b2d5;
  }

  .switch-outline-info .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #63c2de;
  }

  .switch-outline-info .switch-input:checked + .switch-slider::before {
    border-color: #63c2de;
  }

  .switch-outline-info .switch-input:checked + .switch-slider::after {
    color: #63c2de;
  }

  .switch-outline-info-alt .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #63c2de;
  }

  .switch-outline-info-alt .switch-input:checked + .switch-slider::before {
    background-color: #63c2de;
    border-color: #63c2de;
  }

  .switch-outline-info-alt .switch-input:checked + .switch-slider::after {
    color: #63c2de;
  }

  .switch-warning .switch-input:checked + .switch-slider {
    background-color: #F5BE30;
    border-color: #e7aa0b;
  }

  .switch-warning .switch-input:checked + .switch-slider::before {
    border-color: #e7aa0b;
  }

  .switch-outline-warning .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #F5BE30;
  }

  .switch-outline-warning .switch-input:checked + .switch-slider::before {
    border-color: #F5BE30;
  }

  .switch-outline-warning .switch-input:checked + .switch-slider::after {
    color: #F5BE30;
  }

  .switch-outline-warning-alt .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #F5BE30;
  }

  .switch-outline-warning-alt .switch-input:checked + .switch-slider::before {
    background-color: #F5BE30;
    border-color: #F5BE30;
  }

  .switch-outline-warning-alt .switch-input:checked + .switch-slider::after {
    color: #F5BE30;
  }

  .switch-danger .switch-input:checked + .switch-slider {
    background-color: #FE3F61;
    border-color: #fe0c37;
  }

  .switch-danger .switch-input:checked + .switch-slider::before {
    border-color: #fe0c37;
  }

  .switch-outline-danger .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #FE3F61;
  }

  .switch-outline-danger .switch-input:checked + .switch-slider::before {
    border-color: #FE3F61;
  }

  .switch-outline-danger .switch-input:checked + .switch-slider::after {
    color: #FE3F61;
  }

  .switch-outline-danger-alt .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #FE3F61;
  }

  .switch-outline-danger-alt .switch-input:checked + .switch-slider::before {
    background-color: #FE3F61;
    border-color: #FE3F61;
  }

  .switch-outline-danger-alt .switch-input:checked + .switch-slider::after {
    color: #FE3F61;
  }

  .switch-light .switch-input:checked + .switch-slider {
    background-color: #f0f3f5;
    border-color: #d1dbe1;
  }

  .switch-light .switch-input:checked + .switch-slider::before {
    border-color: #d1dbe1;
  }

  .switch-outline-light .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #f0f3f5;
  }

  .switch-outline-light .switch-input:checked + .switch-slider::before {
    border-color: #f0f3f5;
  }

  .switch-outline-light .switch-input:checked + .switch-slider::after {
    color: #f0f3f5;
  }

  .switch-outline-light-alt .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #f0f3f5;
  }

  .switch-outline-light-alt .switch-input:checked + .switch-slider::before {
    background-color: #f0f3f5;
    border-color: #f0f3f5;
  }

  .switch-outline-light-alt .switch-input:checked + .switch-slider::after {
    color: #f0f3f5;
  }

  .switch-dark .switch-input:checked + .switch-slider {
    background-color: #2f353a;
    border-color: #181b1e;
  }

  .switch-dark .switch-input:checked + .switch-slider::before {
    border-color: #181b1e;
  }

  .switch-outline-dark .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #2f353a;
  }

  .switch-outline-dark .switch-input:checked + .switch-slider::before {
    border-color: #2f353a;
  }

  .switch-outline-dark .switch-input:checked + .switch-slider::after {
    color: #2f353a;
  }

  .switch-outline-dark-alt .switch-input:checked + .switch-slider {
    background-color: #fff;
    border-color: #2f353a;
  }

  .switch-outline-dark-alt .switch-input:checked + .switch-slider::before {
    background-color: #2f353a;
    border-color: #2f353a;
  }

  .switch-outline-dark-alt .switch-input:checked + .switch-slider::after {
    color: #2f353a;
  }

  .switch-pill .switch-slider {
    border-radius: 50em;
  }

  .switch-pill .switch-slider::before {
    border-radius: 50em;
  }

  .table-outline {
    border: 1px solid #c8ced3;
  }

  .table-outline td {
    vertical-align: middle;
  }

  .table-align-middle td {
    vertical-align: middle;
  }

  .table-clear td {
    border: 0;
  }

  @media all and (-ms-high-contrast: none) {
    html {
      display: flex;
      flex-direction: column;
    }
  }
