$row-border-color: #333 !default;
$col-border-color: #e3e3e3;

.trumbowyg-editor {
    .container {
        border: 1px solid red;
        padding: 20px;
    }
    .container-fluid {
        border: 1px double orange;
        padding: 20px;
    }
    .row {
        border: thin dotted $row-border-color;
        padding: 20px;
        .col {
            border: thin dotted $col-border-color;
            padding: 20px;
        }
        [class*="col"] {
            border: 1px dotted #000;
            background: #e3e3e3;
            margin: 5px;
            padding: 20px;
        }
    }

    .item {
        border: 3px dashed red;
        margin: 10px;
        padding: 10px;
    }
    div {
        border: 1px solid #e3e3e3;
        padding: 5px;
    }
}
