body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
}


* {
    outline: none;
}

/* NAVBAR */
.navbar-expand-lg {
    .navbar-nav {
        .dropdown-menu {
            left: -10%;
        }
    }
}


/* TOPBAR */
ul {
    &.navbar-nav {
        li {
            outline: none;

            &.nav-item {
                &>a {
                    outline: none;
                }

                .img-profile,
                .img-profile {
                    height: 2rem;
                    width: 2rem;
                }

                .messages-dropdown {
                    max-width: 200px;
                }
            }
        }
    }
}

/* FORM */
.form-control {
    height: auto;
}
select.form-control[size], select.form-control[multiple] {
    height: 400px;
}


/* Image preload */
#imagePreview img {
    max-height: 50px;
}
