<template>
  <draggable
    v-bind="dragOptions"
    tag="div"
    class="item-container"
    :list="list"
    :value="value"
    @input="emitter"
  >
    <div class="item-group" :key="el.id" v-for="(el,index) in realValue">
      <div class="item"><span class="glyphicon glyphicon-align-justify"></span>{{ el.name }}</div>
      <!-- <nested-test class="item-sub" :list="el.elements" /> -->
    </div>
  </draggable>
</template>

<script>
import draggable from "vuedraggable";
export default {
  name: "nested-test",
  methods: {
    emitter(value) {
      this.$emit("input", value);
    }
  },
  components: {
    draggable
  },
  computed: {
    dragOptions() {
      return {
        animation: 0,
        group: "description",
        disabled: false,
        ghostClass: "ghost",
        maxDepth: 2
      };
    },
    // this.value when input = v-model
    // this.list  when input != v-model
    realValue() {
      return this.value ? this.value : this.list;
    }
  },
  props: {
    value: {
      required: false,
      type: Array,
      default: null
    },
    list: {
      required: false,
      type: Array,
      default: null
    }
  }
};
</script>
<style scoped>
.item-container {
  max-width: 100rem;
  margin: 0;
}

.item {
  padding: 10px;
  border-bottom: solid black 1px;
  background-color: #fefefe;
  text-align: left;
}
.item-sub {
  margin: 0 0 0 5px;
}
</style>
