@import 'elements/fonts';

* {
    // font-family: 'Bree Serif', serif;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
}

#map {
    width: 100%;
    height: 100%;
    background-color: grey;
  }

input.form-control {
    padding: 5px 10px;
    font-size: 16px;
}

section.form-control[multiple] {
    height: 400px;
}

.col-lg-4,
.col-md-4 {
    .card {
        .image-box {
            width: 100%;
            height: 300px;
            position: relative;
            overflow: hidden;
            background-color: #fff;
            img {
                width: 100%;
                margin: 0;
                background: yellow;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
        }
        .card-body {
            background-color: #fff;
        }
    }
}
.ps-section__content {
    clear: both;
}

.pp-post__box {
    margin-bottom: 20px;
}

.box-shadow {
    &:hover {
        background: #e3e3e3;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        box-shadow: 0 6px 50px 6px rgba(0, 0, 0, 0.18);
    }
}
.box-border {
    &:hover {
        border: thin solid #e3e3e3;
    }
}

@media screen and (max-width: 768px) {
    .carousel-inner {
        height: auto !important;
    }
    .ps-section__title.category-page {
        min-width: 0;
        width: 100%;
    }
}
.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.social-links {
    margin-top: 20px;
}
.short-sticky {
    transition: all 0.5s;
    .menu {
        & > li {
             & > a {
                 line-height: 20px;
             }
        }
    }
    .navbar-brand-logo {
        img {
            max-height: 50px !important;
        }
    }
    .social-links {
        display: none;
    }
}

.small{
    transition: ease-out 0.5s;
}

.full{
    width:100%;
    padding: 30px;
    z-index: 9999;
}

.dark{
    background-color:black;
}
